
<div class="admin_wrapper">
    <div class="left-sidebar">
        <ul>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/posts">Manage Causes</a></li>
            <li><a href="/faq">Manage Team</a></li>
            <li><a href="/latest-projects">Manage Testimonials</a></li>
        </ul>
    </div>
    <div class="admin-content">

        <div class="content">
            <h2 class="page-title">Add A new Cause</h2>

            <% if(messages.error){ %>
                <ul class="error">
                    <li><%= messages.error %></li>
                </ul>
            <% } %>
            
            <form action="/add-post" method="POST" enctype="multipart/form-data" class="add-post">

                <div>
                    <label for="title">Title</label>
                    <input type="text" name="title" class="text-input">
                </div>

                <div>
                    <label for="target">Target</label>
                    <input type="text" name="target" class="text-input">
                </div>

                <div>
                    <label for="raised">Raised</label>
                    <input type="text" name="raised" class="text-input">
                </div>

                <div>
                    <label for="percentage">Percentage</label>
                    <input type="text" name="percentage" class="text-input">
                </div>

                <div>
                    <label for="preview">Preview</label>
                    <textarea name="preview" id="body" cols="50" rows="5" maxlength="210"></textarea>
                </div>

                <div>
                    <label for="body">Body</label>
                    <textarea name="body" id="" cols="50" rows="10"></textarea>
                </div>

                <div>
                    <label for="image">Image</label>
                    <input type="file" name="image" id="img-input" class="text-input">
                </div>
              
                <div>
                    <button type="submit" class="btn">Add Cause</button>
                </div>
            </form>

        </div>
    </div>
    
    <main></main>
</div>



