<div class="admin_wrapper">
    <div class="left-sidebar">
        <ul>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/posts">Manage Causes</a></li>
            <li><a href="/faq">Manage Team</a></li>
            <li><a href="/latest-projects">Manage Testimonials</a></li>
            <li><a href="/my-services">Manage Counter</a></li>
        </ul>
    </div>
    <div class="admin-content">

        <div class="content">
            <div>
                <h2 class="page-title">Dashboard</h2>
            </div>
        </div>
    </div>
    
    <main></main>
</div>
