
<div class="admin_wrapper">
    <div class="left-sidebar">
        <ul>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/posts">Manage Causes</a></li>
            <li><a href="/faq">Manage Team</a></li>
            <li><a href="/latest-projects">Manage Testimonials</a></li>
        </ul>
    </div>
    <div class="admin-content">
        <div class="button-group">
            <a href="/add-faq" class="btn admin-btn">Add New Member</a>
            <a href="/faq" class="btn admin-btn">Manage Team</a>
        </div>

        <div class="content">
            <h2 class="page-title">Edit Member</h2>
            <div>
                <form action="/delete-faq/<%= faq._id %>?_method=DELETE" method="post">
                    <button type="submit" class="btn admin-btn">Delete this Member</button>
                </form>
            </div>
            
            <form action="/edit-faq/<%= faq._id %>" method="post" enctype="multipart/form-data" class="add-post">

                <div class="input-box">
                    <label for="name">Member'sName</label>
                    <input type="text" name="name" class="text-input" value="<%= faq.name %>">
                </div>

                <div class="input-box">
                    <label for="description">Designation</label>
                    <input type="text" name="position" class="text-input" value="<%= faq.position %>">
                </div>

                <div class="input-box">
                    <label for="image">Member's Photo</label>
                    <input type="file" name="image" id="">
                </div>

              
                <div>
                    <input type="submit" class="btn admin-btn" value="Submit Changes">
                </div>
            </form>

        </div>
    </div>
    
    <main></main>
</div>
